<% he = HTMLEntities.new %>
<h1>Chat Log: <%= he.encode params[:buffer] %> on <%= he.encode params[:network] %></h1>
<p><a class='button orange' href='../'>Back</a></p>
<%

  path = File.expand_path $opts[:log_dir]

  log = nil

  Dir.new(path).each do |file|
    my_path = "#{path}/#{file}"
    next unless File.file? my_path

    match = file.match $opts[:file_name_regex]

    next unless match and match[:network] == params[:network]
    next unless match[:buffer] == params[:buffer]

    log = my_path

    break
  end

  if log
    even = true
%>
<table style="table-layout: fixed; width: 95%;">
  <thead>
    <tr>
      <th style='width: 100px;'>Date</th>
      <th style='width: 100px;'>Time</th>
      <th style='width: 100px;'>Prefix</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <%
      File.open(log, 'r') do |f|
        f.each_line do |line|
        %><%= erb :log_line,
          :locals => {
          :line => line.fix_encoding!,
          :even => (even = !even)
        } %><%
        end
      end
    %>
  </tbody>
</table>
<%
    else
    %>Not Found<%
    end

  %>
